.codelite/
CallGraph/
CncControlerGui/Release/**
CncControlerGui/Release2/**
CncControlerGui/Release3/**
CncControlerGui/Debug/**
CncControlerGui/Resources/**
CncControlerGui/Doxyfile/**

FreeGlutWorkspace/Release/**
FreeGlutWorkspace/Debug/**

Experiments/Release/**
Experiments/Debug/**

RenderAndMove/Release/**
RenderAndMove/Debug/**

UnitTests/Release/**
UnitTests/Debug/**

#*.exe
#*.txt
#*.bat
#*.html
#*.o
#*.o.d
#*.d
#*.out
