.codelite/
CallGraph/
CnCControl/CncControlerGui/bitmaps/
CnCControl/CncControlerGui/Release/
CnCControl/CncControlerGui/Debug/
CnCControl/CncControlerGui/Resources/*
CnCControl/CncControlerGui/Doxyfile
CncControlerGui/html/*


*.svg
*.exe
*.txt
*.bat
*.html
*.o
*.o.d
*.d
*.out
